<nav class="navbar admin-navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/admins/dashboard"> <%= image_tag("stockscrowd_logo_2.png", class: "logo") %> </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="nav-menu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <li class="nav-item">
      <li><%= link_to 'Logout', destroy_admin_session_path, method: :get , class: 'nav-link' %></li>
    </li>
  </div>
</nav>