<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2> Welcome to StocksCrowd</h2>
    </br>
    <h4> Your account has been created but still needed an approval. </br> We will send you another email once it has been confirmed. Thanks!</h4>
  </body>
</html> 