<div class="position-absolute top-50 end-0 translate-middle-y p-1 toast-container" style="z-index: 11" data-autohide="false" >
  <% flash.each do |type, message| %>
    <div class="`toast toast-item hide mb-2 <%= flash_class(type) %>`" id="liveToast" role="alert" aria-live="assertive" data-toggle="toast" data-autohide="true">
      <div class="toast-body">
        <div><%= message %> </div>
        <button id="close-btn" type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  <% end %>
</div>

