<div class="home-main">
  <div class="headline">
    <p id="stocks"> STOCKS </P>
    <p id="crowd"> CROWD </P>

    <%= link_to 'Get Started', new_user_registration_path, class: 'btn btn-outline-primary btn-sm', :method => :get %>

  </div>
  <!--<%= image_tag("Rectangle.png", class: "illustration") %>-->

</div>



