<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2> Cheers 🥂 Your account has been approved! You can now start trading with StocksCrowd</h2>
  </body>
</html>