// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.home-main{
  section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    //border: 1px solid black;
    background-repeat: no-repeat;
    height: 100vh;
    margin-top: 3rem;
    .headline{
      display: flex;
      width: 489px;
      min-height: 10rem;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      p{
        text-align: center;
        font-size: 4rem;
        font-weight: 900;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        line-height: 70px;
      }
      #crowd{
        color: #86298B;
      }
      a{
        width: 10vw;
        margin-left: auto;
        margin-right: auto;
      }
    }
    svg{
      width: 589px;
      min-height: 15rem;
      margin: auto;
    }
  
  }
}

/* SVG Illustration */

.svg{
  #Person1-right-arm{
    animation: arm 800ms ease-in-out infinite alternate;
  }
  #cuurency-top{
    animation: currency-top 2000ms ease-in-out infinite alternate;
  }
  #currency-left{
    animation: currency-left 2000ms ease-in-out infinite alternate;
  }
  #currency-right{
    animation: currency-right 2000ms ease-in-out infinite alternate-reverse;
  }
  #violet-graph-bars{
    animation: violet-graph-bars 2000ms ease-in-out infinite alternate-reverse;
  }
  #blue-graph-bar{
    animation: violet-graph-bars 1500ms ease-in-out infinite alternate-reverse;
  }
  #Hand-with-magnifying-glass{
    animation: magnifying-glass 3500ms linear 2s infinite alternate;
  }
  
}

@keyframes arm {
  from{
    transform: rotateX(0deg);
  }
  to{
    transform: rotateX(8deg);
  }
}

@keyframes magnifying-glass {
  from{
    transform: rotateX(0deg);
  }
  to{
    transform: rotateZ(20deg);
  }
}

@keyframes currency-top {
  from{
    transform: rotateX(0deg);
  }
  to{
    transform: rotateX(15deg);
  }
}

@keyframes currency-left {
  from{
    transform: rotateX(0deg);
  }
  to{
    transform: rotateY(10deg);
  }
}

@keyframes currency-right {
  from{
    transform: rotateY(0deg);
  }
  to{
    transform: rotateX(10deg);
  }
}

@keyframes violet-graph-bars {
  from{
    transform: rotateX(0deg);
  }
  to{
    transform: rotateX(10deg);
  }
}

