.navbar{
  color: white;
  height: 5rem;
  position:absolute;
  z-index: 4;
  .container{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
    padding: 0;
    .navbar-collapse{
      width: auto;
      flex-grow: 0;
      .navbar-nav{
        display: flex;
        justify-content: space-between;
        .nav-link{
          color: #86298B;
          font-size: 1.1rem;
        }
        p{
          margin: 0;
        }
      }
    }
  }
  .navbar-brand{
    //margin-left: 2rem;
    color: white !important;
    font-family: monospace;
    font-size: 2.5rem;
    font-weight: bolder;
    .logo{
      height: 7rem;
    }
  }
}
.offcanvas-title{
  display: flex;
  justify-content: center;
  width: 95%;
  .wallet-logo{
    width: 15rem;
    height: 6rem;
  }  
}

@media screen and (max-width: 990px) {
  .navlink{
    display: none;
  }
}