// Place all the styles related to the portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.portfolio-main{
  padding-top: 5rem;
  //background-color: #86298B;
  .accordion{
    width: 80%;
    .accordion-btn-container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      color: black;
      .accordion-img{
        border-radius: 50%;
        height: 4rem;
        width: 4rem;
      }
    }
  }
}