// Place all the styles related to the stocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.chart{
  min-width: 50vw;
  width: 60vw;
  min-height: 40vh;
  border: 1px solid black;
  margin: 3rem auto auto;
}
.price-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}